@model proyectometodologias.models.AusenciasModels

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Estás seguro de que quieres eliminar esta ausencia?</h3>

<div>
    <h4>AusenciasModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpleadoID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpleadoID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoAusencia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoAusencia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Justificacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Justificacion)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input asp-for="IDAusencias" type="hidden" class="form-control" />
        <div class="col-4 offset-2 row">
            <div class="col">
                <button type="submit" class="btn btn-danger w-100"><i class="fa-solid fa-trash"></i> Eliminar</button>
            </div>
            <div class="col">
                <a class="btn btn-info w-100" asp-action="Index"><i class="fa-solid fa-arrow-left"></i> Volver</a>
            </div>
        </div>
    </form>
</div>
